*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
	font-family: "Inter", sans-serif;
	--res: calc(0.01 * 10vmin);
}

body {
	font-size: 1.2rem;
	font-family: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}
